<div class="navbar navbar-default navbar-fixed-top sticky" role="navigation">
  <div class="container">
     <div class="navbar-header">
        <a class="navbar-brand" href="/photoshare">PhotoShare</a>
     </div>
     <div>
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          <li><a href="{% url 'photoshare_app.views.create_photo_view' %}">Upload Photos</a></li>
          <li><a href="{% url 'photoshare_app.views.albums_view' user.username %}">My Albums</a></li>
          <li><a href="{% url 'photoshare_app.views.tags_list_view' %}">Browse Tags</a></li>
           <li><a href="{% url 'photoshare_app.views.logout_view' %}">Logout</a></li>

<!--            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                 Add...
                 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                 <li><a href="#">a new album</a></li>
                 <li><a href="#">a photo to an existing album</a></li>
                 <li><a href="#">a new tag</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a></li>
                 <li class="divider"></li>
                 <li><a href="#">One more separated link</a></li>
              </ul>
           </li> -->

          {% else %}
           <li><a href="{% url 'photoshare_app.views.login_view' %}">Login</a></li>
           <li><a href="/accounts/register">Register</a></li>
          {% endif %}
        </ul>
     </div>
   </div>
</div>

